@model NewsEngine2._0.Models.Category
@{
    ViewBag.Title = "Editare Categorie";
}

<style>
    .margin-title {
        margin-top: 20px;
    }

    .margin-textarea {
        margin-top: 30px;
    }

    .length {
        max-width: 100%;
        margin: 0;
    }
</style>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>@ViewBag.Title</h2> <br />
        </div>
        <div class="panel-body">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.Label("Name", "Denumire categorie")
                </div>
                <div class="col-sm-10">
                    @Html.TextBox("Name", Model.Name, new { @class = "form-control length" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Adauga categorie</button>
            <a class="btn btn-sm btn-danger" href="/Category/New">Resetare</a>
        </div>
    </div>
}